<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Quotes</title>
</head>
<body>
  <h2>Welcome, !</h2>
  <h4>Quotable Quotes</h4>
  <form class="" action="/quotes" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Your Favorites</legend>
      <div style="width:150px;height:100px;line-height:1.5em;overflow:auto;padding:5px;">
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form,
        by injected humour, or randomised words
      </div>
      <input type="submit" name="" value="Remove From My List">
      <a href="/users">Oliver</a>
      <div style="width:150px;height:100px;line-height:1.5em;overflow:auto;padding:5px;">
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form,
        by injected humour, or randomised words
      </div>
      <input type="submit" name="" value="Remove From My List">
      <a href="/users">Joe</a>
    </fieldset>
  </form>
  <form class="" action="/quotes" method="post">
    {% csrf_token %}
    <fieldset>
      <div style="width:150px;height:100px;line-height:1.5em;overflow:auto;padding:5px;">
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form,
        by injected humour, or randomised words
      </div>
      <input type="submit" name="" value="Add to my list">
      <a href="/users">Oliver</a>
      <div style="width:150px;height:100px;line-height:1.5em;overflow:auto;padding:5px;">
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form,
        by injected humour, or randomised words
      </div>
      <input type="submit" name="" value="Add to my list">
      <a href="/users">Joe</a>
    </fieldset>
  </form>

</body>
</html>
